* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#logo { 
   float: left;
   display: inline-block;
   width: 60px;
   height: 80px;
 }

.topnav {
	position: fixed;
	width: 100%;
  overflow: hidden;
  z-index: 5;
  background-color:#D60505;
}

.topnav a {
  float: left;
  display: block;
  color:#FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.4vw;
  margin-top: 10px;
  margin-left: 40px;
}

.topnav a:hover {
  background-color:#00003E;
  color:#FFF;
}

.topnav a.active {
  background-color:#00003E;
  color: white;
}

.topnav .search-container {
  float: right;
  /* width: 200px; */
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 20px;
  /* margin-right: 50px; */
  font-size: 17px;
  border: none;
  width: 400px;
  background-color:#ddd;
  
}


.conbined{
  /* background-color: green; */
  /* height: 100px; */
  display: flex;
}

.topnav .search-container button {
  /* float:right; */
  height: 33px;
  /* width: 200px; */
  /* padding: 6px 10px; */
 /* padding-bottom: 20px; */
  margin-top: 20px;
  margin-right: 46px;
  /* margin-right: 16px; */
  background: #ddd;
  /* font-size: 17px; */
  border: none;
  cursor: pointer;
  background-color: #2196F3;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topna a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
	
  }
  .topnav input[type=text] {
	
    border: 1px solid #ccc;  
  }
}
.img-one{
    width: 100%;
    height: 380px;
    margin-top: 28px;
    border: 1px solid black;
  }
  
  /* outter most big part of border blue one(no movement) */
  .background-img{
    
    /* background-image: url("https://3.bp.blogspot.com/-piZWCW2uUbg/W2fPXxkWZgI/AAAAAAAAOu0/eydmMjTIqcwLMHEEr2H7imqoRTxMw4o9QCLcBGAs/s1600/among_trees_night_dribbble.png"); */
  height:500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5% auto;
    padding:20px;
    border: 1px solid #2a3cad;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #2a3cad;
    position: relative;
  }
  
  .content h2{ 
    font-size:19px;
  }
  
  /* moving box + content box together */
  .box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    padding: 20px;
   
  }
  
  .box:before{
   
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
    transition:0.5s;
    pointer-events: none;
  }
  
  .box:hover:before{
    left:-50%;
    transform: skewX(-5deg);
  }
  
  /* content box */
  .box .content{
   
    position:absolute;
    top:15px;
    left:15px;
    right:15px;
    bottom:15px;
    border:1px solid #f0a591;
    padding:20px;
    text-align:center;
    box-shadow: 0 5px 10px rgba(9,0,0,0.5);
    
  }
  
  /* moving border */
  .box span{
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  /* positioning of moving border */
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }
  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
    
    
  } 

  
  
  .text{
    /* margin-top: 30px; */
    /* margin-bottom: 20px; */
    /* text-align: center; */
    font-size: 38px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#D60505;
  }
  
  .sentece-one{
    /* text-align: center; */
    font-size: 18px;
  }
  
  .input{
    /* margin-top: 80px; */
  }
  
  .user-name{
    margin-top:50px ;
    margin-right: 55%;
    font-size: 20px;
  }
  .l-name{
    /* background-color: red; */
    /* align-items: center; */
    height: 50px;
    width: 400px;
    /* margin-top: 100px; */
    /* border-radius: 30px; */
    margin-left: 10%;
  }
  
     ::placeholder{
    font-size: 15px;
    /* padding-top: 50px; */
  }
  
  /* sign in Button starts here */
  label{
    display: block;
    margin-bottom: 5px;
}

label i{
    color: red;
    font-size: 80%;
	font-weight: bold;
}
input, select{
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    /* width: 100%; */
    box-sizing: border-box;
    border-radius: 2px;
	
}




.form-inline{
    border: 1px solid green;
    padding: 8px 10px 4px;
    border-radius: 5px;   
}

.form-inline label, .form-inline input{
    display: inline-block;
    /* width: auto; */
    padding-right: 15px;
}

.error{
    color: red;
    font-size: 90%;
}

.clicktext{
  
  background-color: #00003E;
  width: 20%;
  height: 8%;
  
  
}

.clicktext,h1{
  text-decoration: none;
  color: white;
  /* text-decoration: dotted; */
}

input[type="submit"]{
  margin-left: 40%;
  width: 20%;
    font-size: 110%;
    font-weight: 100;
    background:#00003E;
    border-color:#00003E;
    box-shadow: 0 3px 0 #00003E;
    color: #fff;
    margin-top: 30px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background:#0165b6;
	color: white;
}

footer{
	background-color:#f2f2f2;
	width: 100%;  
	/* height: 340px; */
	/* display: flex; */
  }

	 

  footer{
	background-color:#D60505;
	color: white;
	/* margin-top:60px; */
	/* height: 820px; */
	/* padding: 0px 60px; */
  }
  
  .where-to-donate{
	display: flex;
	flex-direction: column;
  }
  
  .list-items{
  
  }
  
  .footer-child-one{
	display: flex;
	justify-content: space-between;
	/* background-color: #0536d6; */
	width: 100%;
  
  }
  
  /* footer-icons */
  
  .footer-child-two{
	display: flex;
	/* justify-content: space-between; */
	/* align-items:left; */
	 width: 90%; 
	 /* background-color: #D9D9D9; */
  }
  
  .privacy{
	/* background-color: aqua; */
	display: flex;
	justify-content: space-around;
	margin-top: 110px;
	/* margin-left: 100px; */
  }
  
  .logo{
	align-items: flex-end;
	/* background-color: fuchsia; */
	/* margin-right: 300px; */
	margin-top: 140px;
  }
  
  .s-donor{
	color: #800020;
	/* margin-right: 80px; */
  }
  
  .donate{
	font-size:1.5vw;
	font-weight:bolder;
	/* margin-bottom: 100px; */
	/* background-color: #D60505; */
	padding-left: 5%;
	margin-top: 20px;
  
  }
  
  .copy-right{
	font-size: 1vw;
	/* margin-left: 20px; */
	/* height: 200px; */
	/* margin-top: 75px; */
	margin-bottom: 15px;
	padding-left: 20px;
  }
  
  ul{
	/* margin-bottom: 200px; */
	list-style-type: none;
	font-size: 2vw;
	margin-bottom: 10px;
	/* margin-left: 10px; */
	/* text-align:left; */
	padding: 15px;
	/* background-color:green; */
	/* margin-right: 100px; */
	
  }
  
  .donate-two{
	font-size:1vwpx;
	font-weight: bold;
  }
  
  
  .socials{
	/* background-color: #00003E; */
	display: flex;
	width: 10px;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;
	/* margin-top: 50px; */
  
  }
  